body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.footer{
    color: deeppink;
    font-weight: bolder;
    padding-left: 10px;
}